<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm1AkQ2TLXNozkUQEAqszbjzaSjrBAwc4</string>
	<key>GCM_SENDER_ID</key>
	<string>541819396470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexParreira.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-18370</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-18370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541819396470:ios:72a3f129d7d899fc581a57</string>
</dict>
</plist>